---
import { Icon } from 'astro-icon/components';
import Chip from './Chip.astro';

interface Props {
  i: number;
  title: string;
  body: string;
  status: 'Running' | 'Stopped';
  url?: string;
  date: number;
}

const { i, body, title, status, date, url } = Astro.props;
---

<li class="group rounded-lg border border-gray-200 p-4 dark:border-gray-700">
  <h2 class="text-2xl font-extrabold">
    <span class="mr-2 font-mono text-sm font-normal italic">#{i} </span>
    {title}
    <span class="text-sm font-normal italic">/ {date}</span>
  </h2>
  <p class="py-2 font-light">{body}</p>
  <Chip>{status}</Chip>
  {
    url && (
      <a
        href={`https://${url}`}
        target="_blank"
        class="ml-2 inline-flex items-center font-mono font-bold transition-colors hover:text-red-500 hover:underline"
        rel="noreferrer"
      >
        <span class="pr-1">See more</span>
        <Icon name="pixelarticons:open" class="w-5" />
      </a>
    )
  }
</li>
